@import "tailwindcss/base";
/*@import "./custom-base-styles.css";*/

@import "tailwindcss/components";

@import './01-atoms/buttons/buttons.css';
@import './01-atoms/buttons/button-group.css';
@import './01-atoms/forms/forms.css';
@import './01-atoms/images/images.css';
@import './01-atoms/text/headings/page-title.css';

@import './02-molecules/card/card.css';
@import './02-molecules/cta/cta.css';
@import './02-molecules/dropdown/dropdown.css';
@import './02-molecules/event/event.css';
@import './02-molecules/menus/breadcrumbs/breadcrumbs.css';
@import './02-molecules/model-listing/model-listing.css';
@import './02-molecules/quote/quote.css';
@import './02-molecules/spec/spec.css';
@import './02-molecules/text/text.css';
@import './02-molecules/webform/webform.css';

@import './03-organisms/collection/collection.css';
@import './03-organisms/components/components.css';
@import './03-organisms/dialog/dialog.css';
@import './03-organisms/group/group.css';
@import './03-organisms/site/site-footer/site-footer.css';
@import './03-organisms/site/site-header/site-header.css';
@import './03-organisms/slides/glide.core.css';
@import './03-organisms/slides/glide.theme.css';
@import './03-organisms/slides/slides.css';

html {
  font-size: 18px;
}

@import "tailwindcss/utilities";
/*@import "./custom-utilities.css";*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;800&display=swap');

.tabs__nav.tabs__nav--local-tasks {
  @apply container mx-auto;
}

/* @todo: add backward slash `\` */

.layout-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow:hidden; /* todo: fix for full-width */
}

.layout-content {
  @apply flex flex-col gap-8 my-8 p-4 lg:p-0;
}

.views-element-container {
  @apply container mx-auto;
}

.page {
  @apply container flex flex-col mx-auto;

  &__header {
    @apply flex flex-row gap-8;
    
    &--image {
      @apply basis-1/2;
    }

    &--content {
      @apply flex flex-col basis-1/2 justify-center;
    }

  }

  &__content {
    @apply flex flex-col;

    &--model {
      @apply gap-8;
    }

  }

}

.prose {

  h1,h2,h3,h4,h5,h6 {
    margin-top: 0 !important;
  }

  ul {
    @apply list-disc list-outside;
  }

  li::marker {
    @apply text-black;
  }

  ol {
    @apply list-decimal list-outside;
  }
}

.text-long :last-child {
  margin-bottom: 0;
}

.views-exposed-form {
  @apply flex flex-row gap-4 items-end pb-4;

  .form-item__select {
    @apply h-[54px];
  }

}

/* handles contextual links */
.image image__item .contextual {
  top: 50%;
  right: 50%
}

/* handles field labels on view model paragraphs */
.field.label.field-type-string.field-bundle-paragraphs-library-item {
  display: none;
}

.scrim {
  @apply absolute top-0 left-0 w-full h-full bg-black opacity-40 z-[999];
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  outline: 1rem black solid;
}

/* handles contextual links
.contextual-region.media {

  .contextual {
    top: -36px;

    button.trigger {
      background-image: url(/sites/default/files/paragraphs_type_icon/banner_image-default-icon.svg);
    }

  }
  
}

.group {

  > .contextual {

    button.trigger {
      background-image: url(/sites/default/files/paragraphs_type_icon/group-default-icon.svg);
    }

  }

}
 */


