@import "tailwindcss/base";
/*@import "./custom-base-styles.css";*/

@import "tailwindcss/components";

@import './01-atoms/buttons/buttons.css';
@import './01-atoms/buttons/button-group.css';
@import './01-atoms/forms/forms.css';
@import './01-atoms/images/images.css';
@import './01-atoms/text/headings/page-title.css';

@import './02-molecules/block/block.css';
@import './02-molecules/card/card.css';
@import './02-molecules/cta/cta.css';
@import './02-molecules/dropdown/dropdown.css';
@import './02-molecules/event/event.css';
@import './02-molecules/menus/breadcrumbs/breadcrumbs.css';
@import './02-molecules/menus/main-navigation/main-navigation.css';
@import './02-molecules/model-listing/model-listing.css';
@import './02-molecules/quote/quote.css';
@import './02-molecules/spec/spec.css';
@import './02-molecules/slide/slide.css';
@import './02-molecules/text/text.css';
@import './02-molecules/webform/webform.css';

@import './03-organisms/collection/collection.css';
@import './03-organisms/components/components.css';
@import './03-organisms/dialog/dialog.css';
@import './03-organisms/group/group.css';
@import './03-organisms/site/site-footer/site-footer.css';
@import './03-organisms/site/site-header/site-header.css';
@import './03-organisms/slider/glide.core.css';
@import './03-organisms/slider/glide.theme.css';

html {
  font-size: 16px; /* 1rem = 16px */
}


@import "tailwindcss/utilities";
/*@import "./custom-utilities.css";*/

/* @todo: separate all selectors below into appropriate files in components folder */

/* handles fixed header position */

.tabs__nav.tabs__nav--local-tasks {
  @apply container mx-auto;
}

/* @todo: add backward slash `\` */

.layout-container {
  @apply flex flex-col items-stretch overflow-hidden lg:mt-[160px];
}

.layout-container.front-page {
  @apply lg:mt-0;
}

.layout-content {
  @apply flex flex-col gap-8 my-8 p-4 lg:p-0;

  a {
    @apply text-blue no-underline;
  }

}

/* handles search results page without template changes */

.view--search-content {
  @apply container mx-auto flex flex-col gap-8;

  .views-exposed-form {
    @apply flex flex-row items-center m-0 p-0;

    label.form-item__label {
      @apply hidden;
    }

    input.form-text {
      @apply w-full lg:w-auto;
      border-radius: 25px;
    }

  }

}

/* handles exposed form on videos page */
.view--videos {

  .views-exposed-form {
    @apply container flex flex-col lg:flex-row items-center justify-center my-16 bg-gray-200 p-8 gap-8;

    /* .form-item--category,
    .form-item--field-tag-target-id-1 {
      @apply flex flex-row gap-8 items-center;

      label.form-item__label {
        @apply text-lg font-bold;
      }

    } */

    #edit-actions {
      @apply self-end;
    }
  
  }

}


#block-ellison-content {

  a#edit-help-link,
  details#edit-advanced {
    @apply hidden;
  }

}

.collection {
  @apply flex flex-col gap-8;

  .views-field-title {
    @apply text-2xl font-bold;
  }

  .views-field-search-api-excerpt {
    @apply text-gray-400;
  }

}

.views-element-container {
  @apply container mx-auto;
}

.page {
  @apply container flex flex-col mx-auto xl:px-4;

  &.has-sidebar {
    @apply flex-row gap-8;

    .page__content {
      @apply basis-2/3;
    }

    .page__sidebar {
      @apply basis-1/3 border-l border-gray-600 pl-8;
    }
  }

  &__header {
    @apply flex flex-col lg:flex-row gap-8;
    
    &--image {
      @apply basis-1/2;
    }

    &--content {
      @apply flex flex-col basis-1/2 justify-center;
    }

  }

  &__content {
    @apply flex flex-col;

    &--model {
      @apply gap-8;
    }

  }

}

/* handles customizations to prose */
.prose {

  h1,h2,h3,h4,h5,h6 {
    margin-top: 0 !important;
    font-weight: 800;
  }

  strong {
    color: unset;
    font-weight: 800;
  }

  ul {
    @apply list-disc list-outside;
  }

  li::marker {
    @apply text-black;
  }

  ol {
    @apply list-decimal list-outside;
  }
  
  /* #BUTTON
   *
   * handles link text styles in CKEditor
   *
   * a.button|Button Default
   * a.button-light-blue|Button Light Blue
   * a.button-white|Button White
   * a.link-light-blue|Link Light Blue
   * a.link-white| Link White
   * 
   */

  a.button {

    &-light-blue {
      @apply text-white bg-light-blue border-none hover:opacity-80 focus:ring-4 focus:ring-white focus:outline-none rounded-full py-3 px-3 md:px-12 font-bold no-underline hover:no-underline uppercase;
      line-height: 1.3;
    }

    &-white {
      @apply text-blue bg-white border-none hover:opacity-80 focus:ring-4 focus:ring-light-blue focus:outline-none rounded-full py-3 px-3 md:px-12 font-bold no-underline hover:no-underline uppercase;
      line-height: 1.3;

    }

  }

  a {
    @apply text-gray-800 hover:opacity-80 no-underline;
  }

  a.link {

    &-default,
    &-default strong {
      @apply text-gray-800 hover:opacity-80 no-underline  font-extrabold;
    }

    &-default::after {
      content: " »";
    }

    &-blue,
    &-blue strong {
      @apply text-blue hover:opacity-80 no-underline  font-extrabold;
    }

    &-blue::after {
      content: " »";
    }

    &-light-blue,
    &-light-blue strong {
      @apply text-light-blue hover:opacity-80 no-underline font-extrabold;
    }

    &-light-blue::after {
      content: " »";
    }

    &-white,
    &-white strong {
      @apply text-white hover:opacity-80 no-underline  font-extrabold;
    }

    &-white::after {
      content: " »";
    }

  }

}

/* handles news archive more link */
.view--content-recent .more-link a {
  @apply text-white bg-light-blue border-none hover:opacity-80 focus:ring-4 focus:ring-white focus:outline-none rounded-full py-3 px-3 md:px-12 font-bold no-underline hover:no-underline uppercase;
  line-height: 1.3;
}

.text-long :last-child {
  margin-bottom: 0;
}

.views-exposed-form {
  @apply flex flex-row gap-4 items-end pb-4;

  .form-item__select {
    @apply h-[54px];
  }

}

/* handles contextual links */
.image image__item .contextual {
  top: 50%;
  right: 50%
}

/* handles field labels on view model paragraphs */
.field.label.field-type-string.field-bundle-paragraphs-library-item {
  display: none;
}

.scrim {
  @apply absolute top-0 left-0 w-full h-full bg-black opacity-40 z-[999];
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  outline: 1rem black solid;
}

/* handles contextual links
.contextual-region.media {

  .contextual {
    top: -36px;

    button.trigger {
      background-image: url(/sites/default/files/paragraphs_type_icon/banner_image-default-icon.svg);
    }

  }
  
}

.group {

  > .contextual {

    button.trigger {
      background-image: url(/sites/default/files/paragraphs_type_icon/group-default-icon.svg);
    }

  }

}
 */

/* handles  button group */
.field-on-page-navigation { 
  @apply flex flex-row gap-4;
}