<form id="build-a-quote" action="https://go.pardot.com/l/37432/2018-04-06/5gh3kp" method="post">
  <div>
      <input class="form-item__textfield" id="firstName" name="firstName" placeholder="First name" required tabindex="1"  type="text">
      <input class="form-item__textfield" id="lastName" name="lastName" placeholder="Last name" required tabindex="1"  type="text">
      <input class="form-item__textfield" id="company" name="company" placeholder="Company" required tabindex="1"  type="text">
      <input class="form-item__textfield" id="email" name="email" placeholder="Email" required tabindex="1"  type="email">
      <input class="form-item__textfield" id="Phone" name="Phone" pattern="[0-9]+" placeholder="Phone" required tabindex="1"  type="number">
      <input class="form-item__textfield" id="zipCode" name="zipCode" pattern="[0-9]+" placeholder="Zip Code" required tabindex="1"  type="text">
      <button class="button" name="submit" type="submit">Submit</button>
  </div>
</form>
<script>
(window.__ctm_loaded || []).push(function () {
  __ctm.form.capture('app.calltrackingmetrics.com', // the capture host
    'FRT472ABB2C5B9B141ADAB06C7A709212DB5B0EF60229D38F02D4C00D8145FDA58D', // this FormReactor
    document.getElementById('build-a-quote'),  // ID of the web form you want to attach your FormReactor
    "8667860219", // the tracking number used for associating visitor data and caller ID consumers will see
    {
      country_code: "1", // the expected country code e.g. +1, +44, +55, +61, etc... the plus is ignored
      name: ['firstName', 'lastName'], // set to the ID of the lead name field, or pass in a list of IDs if there are multiple name fields
      phone: "Phone", // ID of the lead phone number field
      email: "email", // optional, ID of the lead email field
      fields: [
        'firstName',
        'lastName',
        'company',
        'email',
        'zipCode'
      ]
    });
});
</script>