<form id="build-a-quote" action="https://go.pardot.com/l/37432/2018-04-06/5gh3kp" method="post">
    <div>
        <input class="form-item__textfield" id="firstName" name="firstName" placeholder="First name" required
            tabindex="1" type="text">
        <input class="form-item__textfield" id="lastName" name="lastName" placeholder="Last name" required tabindex="1"
            type="text">
        <input class="form-item__textfield" id="company" name="company" placeholder="Company" required tabindex="1"
            type="text">
        <input class="form-item__textfield" id="email" name="email" placeholder="Email" required tabindex="1"
            type="email">
        <input class="form-item__textfield" id="Phone" name="Phone" pattern="[0-9]+" placeholder="Phone" required
            tabindex="1" type="number">
        <input class="form-item__textfield" id="zipCode" name="zipCode" pattern="[0-9]+" placeholder="Zip Code" required
            tabindex="1" type="text">
        <button class="button" name="submit" type="submit">Submit</button>
    </div>
</form>
<script>
document.getElementById('build-a-quote').addEventListener('submit', function (event) {
    try {
        jQuery.ajax({
            url: 'https://api.calltrackingmetrics.com/api/v1/formreactor/FRT472ABB2C5B9B141ADAB06C7A709212DB5B0EF60229D38F02D4C00D8145FDA58D?key=VLhTUhvwsNBljzFmnVX5bui0GD-PaYcjHGPESzPwHQpCqWeY',
            type: 'POST',
            data: {
                "custom_fields[firstName]": jQuery("#firstName").val(), // Capture firstName
                "custom_fields[lastName]": jQuery("#lastName").val(),  // Capture lastName
                "custom_fields[company]": jQuery("#company").val(),    // Capture company
                "custom_fields[email]": jQuery("#email").val(),        // Capture email
                "custom_fields[zipCode]": jQuery("#zipCode").val(),    // Capture zipCode
                "phone_number": jQuery("#Phone").val(),               // Capture phone
                "country_code": "1",
                "caller_name" : jQuery("#firstName").val() + " " + jQuery("#lastName").val()
            },
            success: function (response) {
                console.log("Form successfully submitted:", response);
            },
            error: function (xhr, status, error) {
                console.error("Error submitting form:", xhr.responseText);
            }
        });
    } catch (error) {
        console.error("An error occurred during form capture:", error);
    }
})

</script>