.footer {
  @apply px-3 flex flex-col pt-16 pb-4 justify-center;
  background: linear-gradient(to bottom,#01172b 0%,#013664 100%);

  &__inner {
    @apply container flex flex-col gap-4 mx-auto xl:px-4;
  }

  &__navigating {
    @apply flex flex-col lg:flex-row text-white gap-8 lg:gap-0;

    nav,
    div {
      @apply basis-1/5 flex flex-col gap-2 !important;

      h2 {
        @apply font-bold uppercase;
      }

      ul.menu {
        @apply flex flex-col gap-1 list-disc list-inside text-white ml-2 mr-4;

        li.menu__item::before {
          content: "\00b7";
          color:white;
          margin-left: -0.5rem
        }

        a {
          @apply hover:underline;
        }

      }
    }
  }

  &__branding {
    @apply flex flex-col lg:flex-row gap-8;
    align-items: center;
  }

  &__logo {
    @apply basis-auto flex flex-col shrink;

    img {
      @apply w-36 p-0;
    }

  }

  &__social {
    @apply basis-auto flex flex-col;

    ul {
      @apply flex flex-row gap-4 lg:border-white lg:border-l lg:pl-8 justify-center lg:justify-start items-center ;

      a svg {
        @apply text-white w-6 h-6;
      }

      a:hover svg {
        @apply text-light-blue;
      }

    }
  }

  &__local {
    @apply basis-2/12 flex flex-col;

    a {
      @apply flex flex-row gap-4 text-white;

      svg {
        @apply text-white w-6 h-6;
      }
    }
  }

  &__concenting {
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer__concenting__inner {
      @apply container flex flex-col lg:flex-row lg:justify-between items-center py-4 px-3 gap-8 lg:gap-0;
    }

    .footer__tos {

      ul {
        @apply flex flex-col lg:flex-row text-white gap-2;
      }

      li {
        @apply lg:border-white lg:border-l lg:pl-2 text-center;
      }

      li:first-child {
        @apply  lg:border-none;
      }

      li a:hover {
        @apply text-light-blue;
      }

    }

    .footer__madeby {
      @apply text-center;
      
      a {
        @apply text-white;
      }

    }

  }

  &__contacting {
    @apply flex flex-col lg:flex-row gap-4 font-extrabold text-lg text-light-blue uppercase justify-between lg:justify-start items-center lg:items-start;

    .footer__label {
      @apply text-center;
    }
    .footer__cta {
      @apply flex flex-row gap-4 justify-center lg:justify-start items-center;

      .cta-icon {
        svg {
          @apply text-white w-6 h-6;
        }
      }

      .cta-text a {
        @apply text-white;
      }

      .cta-text a:hover {
        @apply text-light-blue;
      }

    }

  }

  li::marker {
    content: none;
  }

}
