/* handles collection of horizontal teasers */
.collection.display-as-rows {
  @apply flex flex-col gap-8;

  .collection__item--teaser {
    
    .card__inner {
      @apply flex flex-col lg:flex-row gap-4 lg:gap-8 items-start;

      .card__image {
        @apply basis-1/3 shrink;

        img.image {
          margin:0;
        }

      }

      .card__content {
        @apply basis-2/3 grow;

        h2.heading a {
          @apply text-blue hover:opacity-80 no-underline font-extrabold text-2xl;
        }
      }

    }

  }

  /* handles spacing for article and event teasers */
  .collection__item--teaser.collection__item--article,
  .collection__item--teaser.collection__item--event {

    .card__inner--content {
      @apply gap-2;
    }

  }

  /* handles spacing for event teasers body */
  .collection__item--teaser.collection__item--event {

    .card__body {
      @apply flex flex-col gap-2;
    }

  }

  /* handles location teasers */
  .collection__item--teaser.collection__item--location {
    @apply bg-gray-200 py-4 px-8;

    .card__inner {
      @apply flex flex-col lg:flex-row gap-4 lg:gap-8 items-center;

      .card__inner--content {
        @apply gap-4;
      }

      .card__image {
        @apply order-last;

        img {
          @apply border border-gray-600;
        }
        
      }

      p.address {
        @apply m-0 p-0 text-lg font-bold flex flex-row gap-1;
      }

      .field {
        @apply flex flex-row gap-4;
      }

      .field__label {
        @apply font-bold
      }

    }
    


  }

}

/* handles adjusting the location address on contact us page */
#block-views-block-locations-block-1--2 {
  .collection__item--teaser.collection__item--location {
  
    .card__inner p.address {
      @apply m-0 p-0 text-lg font-bold block;
    }

  }

}

/* handles horizontal article teasers on news page */
.collection.collection--teasers.collection.display-as-rows {

  .collection__item--article {
    @apply p-4;
  }

  .collection__item--article:nth-child(odd) {
    @apply bg-gray-200;
  }

}

/* @todo remove? */
.collection.collection--teasers.display-as-rows.tagged-content {

  .card.card-event .card__inner--content {
    @apply w-full;
  }

  .card.card-event .field {
    @apply flex flex-row;
  }

  .field__label {
    @apply hidden;
  }

  .card__cta.card__cta-link {
    @apply hidden;
  }

}

/* handles event date on frontpage */
.path-frontpage .collection.collection--teasers.display-as-rows.tagged-content .card.card-event .field {
  display: block;
  text-align: left;
  margin: 0px;
}

/* handles video cards in columns on video page */
.collection.collection--videos.display-as-cols {
  @apply flex flex-col lg:flex-row flex-nowrap lg:flex-wrap gap-8 lg:gap-4;

  .views-fields {
    @apply flex flex-col gap-2 basis-full lg:basis-[32%];

    .video__inner {
      @apply flex flex-col gap-2;
    }

    .image.image__item img.image {
      @apply w-full m-0;
      aspect-ratio: 16/9;
    }

    .views-field-name,
    a.myButton {
      @apply font-bold text-lg !important;
    }
  }

}

/* handles collection of cards in columns */
.collection.collection--cards.display-as-cols {
  @apply flex flex-row gap-4 flex-wrap;

  .collection__item.collection__item--card {
    @apply flex flex-col gap-2 basis-[32%];
  }

}

.collection {
  @apply flex flex-col gap-8;

  .views-field-title {
    @apply text-2xl font-bold;
  }

}