.listing.contextual-region.models {
  @apply flex flex-col gap-16;
}

.model-listing {

  /* handles spacing between stacks of blocks */
  .block__items {
    @apply flex flex-col gap-8;
  }

  /* handles brand */
  .taxonomy__term--brands {
    @apply flex flex-col lg:flex-row lg:gap-8;

    .field-logo {
      @apply basis-full lg:basis-1/4;

      img {
        @apply m-0 p-0 !important;
      }
    }

    .text-long {
      @apply basis-full lg:basis-3/4 font-bold text-gray-600;
    }

  }

  /* handles series */
  .taxonomy-series {
    @apply flex flex-col lg:flex-row;

    .taxonomy-series__image {
      @apply basis-full lg:basis-1/3;
      
      img {
        @apply m-0 px-4;
      }
    }

    .taxonomy-series__content {
      @apply basis-full lg:basis-2/3;

      h2 {
        @apply text-2xl font-extrabold mb-4 pb-4 border-b-2 border-gray-600 !important;
      }
    }

  }

  .collections {
    @apply pb-16 mb-16 border-b-2 border-gray-400 relative;
  }

  .collactions:last-child {
    @apply border-none;
  }

  .collections__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .collections__header > .contextual-region {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    h2 {
      display:none;
    }

  }

  .collections__header > .contextual-region > div {
    @apply basis-1/5;

    img {
      @apply w-[150px];
    }

  }

  .collections__header > .contextual-region .text-long.prose.max-w-none {
    @apply basis-4/5;
  }

  .collection__wrapper {
    @apply flex flex-col gap-8 basis-1/2;

    .collection {
      @apply inline-flex mt-auto ml-[33.33333333%];

      /* #BUTTON */
      .views-field a {
        @apply text-white bg-blue border-none hover:opacity-80 focus:ring-4 focus:ring-light-blue focus:outline-none rounded-full py-3 px-3 md:px-12 font-bold no-underline hover:no-underline uppercase;
        line-height: 1.3;
      }
      
    }

  }

  .heading--collection h2 {
    @apply text-xl font-bold;
  }

  .collections__body {
    @apply flex flex-row flex-wrap;
    row-gap: 4rem;
  }

}

.taxonomy {

  .taxonomy-series {
    @apply flex flex-row gap-8;
    
    &__image {
      @apply basis-1/2;

      img {
        @apply my-0;
      }
    }

    &.has-image {

      &__content {
        @apply basis-1/2 flex flex-col justify-center;

        h2 {
          @apply text-4xl;
        }

        .text-long {
          @apply text-xl;
        }

      }

    }

    &.no-image {

      &__content {
        @apply flex flex-col justify-center;

        h2 {
          @apply text-4xl;
        }

        .text-long {
          @apply text-xl;
        }

      }

    }

  }

}