.card.card-event {

  .card__inner {
    @apply items-center !important;
  }

  .card__event {
    @apply w-40 h-40 bg-light-blue text-white rounded-full flex flex-col items-center justify-center;

    .date_m {
      @apply uppercase font-bold flex flex-col;
      font-size: 2rem;
      line-height: 2rem;
    }

    .date_d {
      @apply uppercase font-bold flex flex-col;
      font-size: 5rem;
      line-height: 5rem;
    }

  }

  .card__image {
    flex-basis: unset !important;
  }

  .card__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .card__inner--content {
    width: 100%;
  }

  .card__body .field-dates-and-times,
  .card__body .field-location {
    @apply gap-4 text-2xl font-bold !important;
  }

  .heading {
    @apply flex flex-row gap-4 !important;

    a {
      @apply text-dark-blue !important;
    }
  }

  .heading__label {
    @apply w-[8rem] text-2xl font-bold text-right text-gray-600;
  }

  .field {
    @apply flex flex-row justify-start gap-4;

    &__label {
      @apply w-[8rem] text-2xl font-bold text-right text-gray-600;
    }

    &__item {
      @apply text-2xl font-bold text-dark-blue;
    }

  }

}

.front-page .heading__label {
  display: none;
}

.field-dates-and-times {
  @apply mb-8 text-center;
}