.front-page {

  .header {
    background: transparent;
    z-index: 999;
  }

  #glide {
    clip-path: polygon(0 0%, 100% 0, 100% 96%, 0 100%);
    margin-top: -74px;
  }

}

#glide {
  width: 100vw !important;
  background-color: #013664;

  .glide__track {
    width: 100vw !important;
  }

  .glide__arrow {
    @apply border-none text-white hover:text-gray-200;

    svg.icon {
      width: 48px;
      height: 48px;
    }

  }

  img.image {
    max-width: unset;
    width: 100%;
  }

  .video__name {
    display:none;
  }

}