.group {

  &__inner {
    @apply flex flex-col gap-8;
  }

  &__items {
    @apply flex flex-col lg:flex-row gap-4;

    &--count-1 .group__item {
      @apply basis-full;
    }

    &--count-2 .group__item {
      @apply basis-1/2;
    }

    &--count-3 .group__item {
      @apply basis-1/3;
    }

    &--count-4 .group__item {
      @apply basis-1/4;
    }

  }
  
  &__item {
    @apply flex flex-col relative;

    /* handles text-align- so it works */
    h1,h2,h3,h4,h5,h6,p,ul,ol,li,blockquote {
      @apply w-full;
    }

    .image img {
      @apply mx-auto lg:mx-0 lg:w-full my-0;
    }

  }

}

/* handles centering the container when displaying as full-width-on */
.full-width-on .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* handles displaying grouped components as rows */
.group__inner.display-as-rows .group__items {
  @apply lg:flex-col lg:gap-8;
}