{{ attach_library('ellison/main-menu') }}

<nav class="header__navigating">
  <div id="main-menu" class="navbar">
    {% include "@molecules/menus/_menu.twig" with {
      menu_class: "main-menu",
      items: menu_items,
    } %}
  </div>
</nav>
