body.path-frontpage header{
  @apply lg:static;
}

.header {
  @apply lg:fixed lg:top-[64px] p-6 flex flex-col items-center z-50 bg-gradient-to-b from-[#01172b] to-[#013664] lg:w-full;

  &__inner {
    @apply container flex flex-row flex-wrap justify-between gap-4 items-end xl:px-4;
  }

  &__branding {
    @apply basis-auto lg:basis-2/12 flex flex-col justify-center;

    img {
      @apply w-36 p-0;
    }

  }

  &__navigating {
    @apply basis-auto hidden lg:flex flex-col grow items-start justify-end hidden w-[100vw] lg:w-max order-1 lg:order-none lg:items-center;
  }

  &__searching {
    @apply flex flex-row hidden lg:flex lg:flex-col lg:basis-2/12 w-full lg:w-max justify-center order-1 lg:order-none;

    &.expanded {
      @apply flex;
    }

    form {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      label {
        @apply hidden;
      }

      .form-search {
        @apply w-[85vw] md:w-[93vw] lg:w-[14rem] h-9 border-none focus:ring-0;
        border-radius: 25px 0px 0px 25px;
      }

      div.form-actions {
        height: 36px;
      }

      .form-item.form-item--keys {
        @apply h-[36px];
      }

      .form-submit {
        @apply h-9 w-9 bg-blue hover:bg-light-blue text-white;
        border-radius: 0px 25px 25px 0px;
        border: none;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd%3Bclip-rule:evenodd%3Bstroke-linecap:round%3Bstroke-linejoin:round'%3E%3Cpath d='m21 21-5.197-5.197m0 0A7.503 7.503 0 0 0 18 10.499c0-4.114-3.386-7.5-7.5-7.5a7.503 7.503 0 0 0-7.501 7.5C2.999 14.614 6.385 18 10.5 18a7.503 7.503 0 0 0 5.303-2.197z' style='fill:none%3Bfill-rule:nonzero%3Bstroke:%23fff%3Bstroke-width:1.5px'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
      }

    }
    
  }

  &__mobi {
    @apply flex lg:hidden flex-row items-center gap-4;

    #main-menu--toggle {
      @apply border-none;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 12' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd%3Bclip-rule:evenodd%3Bstroke-linecap:round%3Bstroke-linejoin:round'%3E%3Cpath d='M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5' style='fill:none%3Bfill-rule:nonzero%3Bstroke:%23fff%3Bstroke-width:1.5px' transform='translate(-3 -6)'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
      width: 20px;
      height: 20px;
    }

    #searching--toggle {
      @apply border-none;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd%3Bclip-rule:evenodd%3Bstroke-linecap:round%3Bstroke-linejoin:round'%3E%3Cpath d='m21 21-5.197-5.197m0 0A7.503 7.503 0 0 0 18 10.499c0-4.114-3.386-7.5-7.5-7.5a7.503 7.503 0 0 0-7.501 7.5C2.999 14.614 6.385 18 10.5 18a7.503 7.503 0 0 0 5.303-2.197z' style='fill:none%3Bfill-rule:nonzero%3Bstroke:%23fff%3Bstroke-width:1.5px'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
      width: 20px;
      height: 20px;
    }

    #searching--toggle[aria-expanded=true],
    #main-menu--toggle[aria-expanded=true] {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd%3Bclip-rule:evenodd%3Bstroke-linecap:round%3Bstroke-linejoin:round'%3E%3Cpath d='M6 18 18 6M6 6l12 12' style='fill:none%3Bfill-rule:nonzero%3Bstroke:%23fff%3Bstroke-width:1.5px' transform='translate(-5.25 -5.25)'/%3E%3C/svg%3E");
      background-size: 16px;
    }

  }

}

body.toolbar-fixed .header {
  @apply top-[102px];
}

body.toolbar-fixed.toolbar-tray-open .header {
  @apply top-[142px];
}

body.path-frontpage .sitewide-alert-block{
  @apply lg:static;
}

.sitewide-alert-block {
  @apply lg:fixed lg:top-0 lg:w-full lg:z-50;
}

body.toolbar-fixed .sitewide-alert-block {
  @apply lg:top-[38px];
}

body.toolbar-fixed.toolbar-tray-open .sitewide-alert-block {
  @apply lg:top-[78px];
}

.sitewide-alert-block {
  @apply h-[64px];
}

.sitewide-alert-block div.block,
.sitewide-alert-block div.block > div {
  @apply h-full;
}

.sitewide-alert-block .sitewide-alert.alert.alert-primary {
  background-color: rgba(70,182,227,1);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sitewide-alert-block .sitewide-alert.alert.alert-modal .text-long.prose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.sitewide-alert-block .sitewide-alert.alert.alert-primary .text-long.prose {
  @apply text-[0.6rem] lg:text-base;
}

.jumbotron {
  @apply relative -z-50;
  
  &__heading {
    @apply absolute top-[50%] left-[50%] w-full h-full flex flex-col justify-center;
    transform: translate(-50%, -50%);
  }

  h1.heading {
    @apply text-white text-[1.5rem] lg:text-[3.5rem] px-8 lg:px-0 font-bold uppercase drop-shadow-md shadow-black;
  }

}