.component {

  .glide__slide.slider__item {
    height: auto;
  }

  .slide {
    @apply mx-4 h-full;


    &.style-horz-left .slide__inner {
      @apply flex md:flex-row md:gap-2 md:items-center;

      .slide__image {
        @apply basis-1/2 shrink;
      }

      .slide__content {
        @apply basis-1/2 grow;
      }

    }

    &.style-horz-right .slide__inner {
      @apply flex md:flex-row md:gap-2  md:items-center;

      .slide__image {
        @apply basis-1/2 shrink md:order-last;
      }

      .slide__content {
        @apply basis-1/2 grow;
      }

    }

    &__content {
      @apply py-4 mx-4;
    }

    &__cta {
      @apply mt-8;
    }
  }

}

/* handle odd model image sizes in model carousel */
div#group__explore-series {

  picture {
    @apply bg-white;
  }

  .image__item img.image {
    height: 344px;
    width: auto;
  }

}