.form-item {
  margin:0;
}

.form-item__label {
  display: block;
  font-weight: 600;
}

.form-item__textfield {
  @apply focus:ring-4 focus:ring-light-blue focus:outline-none w-full;
  border: 1px solid clr(accent);
  padding: 0.6em;

  &::placeholder {
    @apply text-gray-500;
  }

}

.form-item__textfield.form-submit {
  @apply w-auto;
}

.form-item__description {
  margin-top: 0.3em;
}

.form-fieldset {
  border: none;
  margin-bottom: 2em;
  padding: 0;

  .form-item {
    margin-left: 1em;
    max-width: 31em;
  }

}

/* webform component - making it full height */
div.webform {
  @apply h-full;

  > div {
    height: 100%;
  }

  .webform-ajax-form-wrapper {
    @apply h-full;
  }

  /* handles pushing submit button to bottom of component */
  .form-actions.webform-actions {
    margin-top: auto;
  }

}
