{% set layout_modifiers = [] %}

{% set layout_extras = [
    is_front ? 'front-page' : '',
    'font-work-sans',
  ]
%}

{% set main_base_class = main_base_class|default('main') %}
{% set main_modifiers = [] %}

{% set main_content_base_class = main_content_base_class|default('main-content') %}
{% set main_content_modifiers = [] %}

<div {{ bem('layout-container', layout_modifiers, '', layout_extras) }}>
  {% block page_header %}
    {% include "@organisms/site/site-header/site-header.twig" %}
  {% endblock %}
  {% block page_system %}
  {% endblock %}
  <div {{ bem(main_base_class, main_modifiers, main_blockname) }}>
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <main role="main" {{ bem(main_content_base_class, main_content_modifiers, main_content_blockname) }}>
      {% block page_content %}{% endblock %}
    </main>
  </div>
  {% block page_footer %}
    {% include "@organisms/site/site-footer/site-footer.twig" %}
  {% endblock %}
</div>
