/* handles form modal */
.ui-dialog {
  z-index: 9999;

  .form-item__textfield {
    @apply w-full;
  }

  /* #BUTTON */
  .webform-button--submit{
    @apply text-white bg-blue border-none hover:opacity-80 focus:ring-4 focus:ring-light-blue focus:outline-none rounded-full py-3 px-3 md:px-12 font-bold no-underline hover:no-underline uppercase;
  }

}

/* handles form modal on mobile */
@media (max-width: 1023px) {
  .ui-widget.ui-dialog {
    width: 90% !important;
    left: 5% !important;
  }
}

/* default webform form layouts is vertical */
form.webform-submission-form {
  @apply flex flex-col gap-4 h-full w-full;
}

/* handles form BAQ layout */
form.webform-submission-build-a-quote-form {
  @apply flex flex-row flex-wrap justify-between gap-0;
  row-gap: 1rem;
  
  .js-form-item.form-item {
    @apply basis-1/3;
  }
  .form-item__textfield {
    @apply text-gray-700 w-full lg:w-[96%];
  }

  #edit-actions-submit {
    @apply text-white bg-light-blue border-none hover:opacity-80 focus:ring-4 focus:ring-white focus:outline-none rounded-full py-3 px-3 md:px-12 font-bold no-underline hover:no-underline uppercase;
    line-height: 1.3;
  }

}

/* handles select your location form */
form.webform-submission-select-your-location-form {
  @apply gap-0;

  fieldset {
    @apply m-0 p-0;
  }

  legend {
    display: none;
  }
  
  .form-item--radio {
    @apply flex flex-col lg:flex-row flex-wrap;

    .form-item {
      @apply flex flex-col md:flex-row m-0 p-0 md:basis-1/2;

      input {
        position: absolute;
        left: -99999px;
      }

      input:checked + label {
        @apply ring-4 ring-cyan outline-none opacity-100 z-10;
      }

      label {
        width: 100%;
        height: 5rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        color: transparent;
        opacity: .7
      }

      label:hover {
        cursor: pointer;
        opacity: 1;
      }

    }

    /*
      * handles the background images for the radio buttons
      * the order of the nth-child() selectors is important
      */
    .form-item:nth-child(1) label {
      background-image: url('/themes/custom/ellison/images/regions/california-northern.jpeg');
    }

    .form-item:nth-child(2) label {
      background-image: url('/themes/custom/ellison/images/regions/california-southern.jpeg');
    }

    .form-item:nth-child(3) label {
      background-image: url('/themes/custom/ellison/images/regions/central.jpeg');
    }

    .form-item:nth-child(4) label {
      background-image: url('/themes/custom/ellison/images/regions/illinois.jpeg');
    }

    .form-item:nth-child(5) label {
      background-image: url('/themes/custom/ellison/images/regions/indiana-kentucky.jpeg');
    }

    .form-item:nth-child(6) label {
      background-image: url('/themes/custom/ellison/images/regions/north-central.jpeg');
    }

    .form-item:nth-child(7) label {
      background-image: url('/themes/custom/ellison/images/regions/ohio-kentucky.jpeg');
    }

    .form-item:nth-child(8) label {
      background-image: url('/themes/custom/ellison/images/regions/pacific-northwest.jpeg');
    }

    .form-item:nth-child(9) label {
      background-image: url('/themes/custom/ellison/images/regions/south-central.jpeg');
    }

    .form-item:nth-child(10) label {
      background-image: url('/themes/custom/ellison/images/regions/southeast.jpeg');
    }

    .form-item:nth-child(11) label {
      background-image: url('/themes/custom/ellison/images/regions/wisconsin.jpeg');
    }

  }

}

/* handles tax calculator form */
form.webform-submission-tax-calculator-form {
  @apply gap-0;

  .form-item {
    @apply flex flex-row flex-wrap justify-between;
    line-height: .75;
  }

  .form-item__label {
    @apply flex items-end mb-0 p-0 w-10/12;
  }

  .form-item__textfield {
    @apply m-0 w-2/12 text-right;

    /* border-t-0 border-l-0 border-r-0 border-b-2 border-gray-300 border-dotted */
    &:disabled {
      @apply bg-white border-none p-0 m-0;
    }

    &.form-submit {
      @apply w-auto text-center;
    }
  }

  .form-item__description {
    @apply p-0 m-0 w-10/12;

    .webform-element-description {
      @apply w-full text-gray-500 text-sm pb-2;
    }

  }

  #edit-actions {
    @apply flex justify-end mb-8;
  }

  /*handles tax calculator top row borders */
  .form-item--updated-yearly {
    @apply border border-gray-600;

    .form-item__label {
      @apply p-4 border-r border-gray-600;
    }

    .form-item__textfield {
      @apply p-4;
    }

  }

  /* handles tax calculator row */
  .form-item--section-179-deduction,
  .form-item--balance-depreciate-over-seven-years,
  .form-item--emp,
  .form-item--_0-bonus-depreciation,
  .form-item--standard-depreciation,
  .form-item--total-first-year-tax-deduction,
  .form-item--assumed-customer-tax-bracket,
  .form-item--tax-savings,
  .form-item--total-tax-deduction,
  .form-item--approximate-number-of-payments{
    @apply border-l border-r border-gray-600;

    .form-item__label {
      @apply px-4 py-2 border-r border-gray-600;
    }

    .form-item__description {
      @apply px-4 border-r border-gray-600;
    }

    .form-item__textfield {
      @apply px-4 py-2;
    }

  }

  .form-item--section-179-deduction,
  .form-item--assumed-customer-tax-bracket {

    .form-item__textfield {
      border-bottom:1px solid gray;
    }

  }


  /* handles tax calculator bottom row borders */
  .form-item--_0-bonus-depreciation,
  .form-item--approximate-number-of-payments {
    @apply border-b border-gray-600;
  }

}

/* handles contact us form */
form.webform-submission-contact-add-form {

  .form-item.form-item--opt-in {
    @apply w-full flex flex-row flex-wrap items-center justify-start w-full;

    input.form-checkbox.form-item__textfield {
      @apply w-auto mr-4 !important;
    }

    .form-item__description.form-item__description--opt-in {
      @apply w-full !important;
    }

  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
  }

}

/* handles newsletter form */
#group__newsletter {

  .group__inner {
    @apply py-12 gap-0 xl:px-4;
  }

  h2 {
    @apply flex flex-col lg:flex-row items-center justify-center gap-8;

    a.button-white {
      font-size:16px;
    }
  }

  form.webform-submission-newsletter-form-form {
    @apply flex flex-row flex-wrap pt-16 hidden justify-between gap-0;
    row-gap: 1rem;

    .form-item {
      @apply basis-full lg:basis-1/3;
    }

    .form-item.form-item--opt-in {
      @apply w-full flex flex-row flex-wrap items-center justify-start basis-full;

      input#edit-opt-in.form-item__textfield {
        @apply w-auto mr-4 !important;
      }

      .form-item__description.form-item__description--opt-in {
        @apply w-full !important;
      }

    }

    .form-item__textfield {
      @apply text-gray-700 w-full lg:w-[96%];
    }

    /* #BUTTON a.button-white */
    #edit-actions-submit{
      @apply text-white bg-light-blue border-none hover:opacity-80 focus:ring-4 focus:ring-white focus:outline-none rounded-full py-3 px-3 md:px-12 font-bold no-underline hover:no-underline uppercase w-auto;
      line-height: 1.3;
    }

  }

}